body {
  background-color: gray;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.title {
  text-align: center;
  margin: 20px 0;
  font-size: 50px;
  color: rgb(255, 41, 41);
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.timer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.field:not(:last-child) {
  margin-right: 50px;
}
.value {
  margin-bottom: 6px;
  padding: 2px 8px;
  border-radius: 4px;

  color: #ffffff;

  background-color: #333232;
  box-shadow: 0px 1px 5px 5px rgba(200, 200, 200, 0.5);
}
.value.done {
  color: #363636ec;
}
.label {
  font-size: 12px;
  font-weight: 400;
}
